In [1]:
import pandas as pd

In [2]:
path = '../data/valeurs_foncieres/ValeursFoncieres-2025-S1.txt'

In [5]:
df = pd.read_csv(
    path,
    sep="|",
    encoding="latin-1",
    low_memory=False)

In [6]:
df.head()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2025,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,J,NaN,78.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2025,Vente,...,NaN,0,1.0,Maison,NaN,111.0,5.0,S,NaN,133.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2025,Vente,...,NaN,0,3.0,DÃ©pendance,NaN,0.0,0.0,S,NaN,133.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2025,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,46.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2025,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,J,NaN,17.0

In [7]:
cols_utiles = [
    "Valeur fonciere",
    "Surface reelle bati",
    "Nombre pieces principales",
    "Code departement",
    "Type local"]

In [8]:
df = df[cols_utiles]

In [9]:
df.head()

,Valeur fonciere,Surface reelle bati,Nombre pieces principales,Code departement,Type local
0,"468000,00",NaN,NaN,01,NaN
1,"468000,00",111.0,5.0,01,Maison
2,"468000,00",0.0,0.0,01,DÃ©pendance
3,"180000,00",NaN,NaN,01,NaN
4,"180000,00",NaN,NaN,01,NaN

In [12]:
for col in ["Valeur fonciere", "Surface reelle bati", "Nombre pieces principales"]:
    df[col] = (df[col].astype(str).str.replace(",",".", regex=False).astype(float))

In [13]:
df = df.dropna()

In [14]:
df.head()

,Valeur fonciere,Surface reelle bati,Nombre pieces principales,Code departement,Type local
1,468000.0,111.0,5.0,01,Maison
2,468000.0,0.0,0.0,01,DÃ©pendance
5,180000.0,87.0,4.0,01,Appartement
7,490000.0,0.0,0.0,01,DÃ©pendance
8,490000.0,0.0,0.0,01,DÃ©pendance

In [15]:
df = df[df["Code departement"] == "75"]

In [16]:
df = df[df["Type local"] == "Appartement" ]

In [17]:
df

,Valeur fonciere,Surface reelle bati,Nombre pieces principales,Code departement,Type local
1355674,430500.0,48.0,3.0,75,Appartement
1355676,527700.0,40.0,1.0,75,Appartement
1355678,383000.0,50.0,2.0,75,Appartement
1355681,199000.0,16.0,1.0,75,Appartement
1355682,199000.0,117.0,5.0,75,Appartement
...,...,...,...,...,...
1387061,835000.0,70.0,4.0,75,Appartement
1387063,375000.0,33.0,1.0,75,Appartement
1387064,1370000.0,92.0,2.0,75,Appartement
1387072,550000.0,61.0,3.0,75,Appartement
1387073,550386.1,47.0,2.0,75,Appartement

In [18]:
df = df[df["Surface reelle bati"] > 9 ]

In [19]:
df["prix_m2"] = df["Valeur fonciere"] / df["Surface reelle bati"]

In [20]:
df = df[(df["prix_m2"] > 2000) & (df["prix_m2"] < 30000 )]

In [21]:
df[["prix_m2"]].describe()

            prix_m2
count  11052.000000
mean   10538.597942
std     3895.303288
min     2010.869565
25%     8253.384079
50%     9843.875000
75%    11865.705128
max    29952.348536

In [22]:
outpath = "../data/processed/paris_appart_clean.csv"

In [24]:
df.to_csv(
    outpath,
    index=False,
    encoding="utf-8")